<div class="page"
  data-page="ingrediente">
  <!-- NAVBAR -->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link icon-only back">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="center">Ingredientes</div>
      <div class="right">
        <a href="#" class="link icon-only" @click="initModalIngrediente">
          <i class="icon mdi mdi-24 mdi-plus"></i>
        </a>
        <!-- <a href="#" class="link icon-only">
          <i class="icon icon-bars"></i>
        </a> -->
      </div>
    </div>
  </div>
  <!-- FIM DA NAVBAR -->

  <!-- PESQUISAR RECEITAS -->
  <a href="views/ingrediente/resultado.html" class="floating-button">
    <i class="icon mdi mdi-24 mdi-play"></i>
  </a>

  <div class="page-content">
    <div class="content-block aviso">Para melhor procura, insira no minimo três ingredientes!</div>
    <div class="list-block">
      <ul>
        <li class="swipeout" v-for="ingredient in ingredients">
          <div class="swipeout-content">
            <div class="item-content">
              <div class="item-inner">
                {{ ingredient.quantity }} {{ ingredient.unit }} - {{ ingredient.name }}
              </div>
            </div>
          </div>
          <div class="swipeout-actions-right">
            <a class="bg-red" href="#" @click="deleteIngredient($index)">Excluir</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
