<div class="page"
  data-page="home">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="center">Home</div>
      <!-- <div class="right">
        <a href="#" class="link icon-only">
          <i class="icon icon-bars"></i>
        </a>
      </div> -->
    </div>
  </div>

  <div class="page-content">
    <h2 class="home-titulo">Bem Vindo!</h2>

    <div class="home-botoes">
      <p class="home-info">Escolha uma das opções abaixo:</p>
      <p class="buttons-row">
        <a href="views/receita/receita.html" class="button button-big button-fill button-raised">
          <i class="icon mdi mdi-48 mdi-food"></i>
          <br>
          Receita
        </a>
        <a href="views/ingrediente/ingrediente.html" class="button button-big button-fill button-raised">
          <i class="icon mdi mdi-48 mdi-food-apple"></i>
          <br>
          Ingrediente
        </a>
      </p>
    </div>
  </div>
</div>
